@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="email"],
input[type="password"] {
    /* Reset border, padding, and margin */
    border: none;
    padding: 0;
    margin: 2;
    /* Reset other styles as needed */
}