// _components.sass

// Header
header
    background-color: $color-teal-dark
    height: 100px
    min-width: 100vw

    .logo
        height: 100%
        display: flex
        justify-content: flex-end

        svg
            height: 100%
            width: 100px
            padding: 10px

    a
        color: $color-white
        text-decoration: none
        font-size: 25px
        font-weight: 700
        padding: 0 10px

    .navbar
        width: 450px

.search-form
    width: 200px
    padding-left: 10px

    svg
        height: 20px
        width: 20px
        margin-left: 12px
        margin-top: -10px
        position: absolute

    input
        background-color: $color-white
        border-radius: $border-radius
        width: 200px
        border: none
        font-size: 16px
        color: $color-black
        outline: none
        padding-left: 40px

// Footer
footer
    min-width: 100vw
    padding: 20px

    a
        padding: 0 10px

// Calendar
.calendar
    background-color: $color-pink-light
    padding: 20px
    border-radius: $border-radius

    .rbc-off-range-bg,
    .rbc-header,
    .rbc-month-view,
    .rbc-month-row,
    .rbc-row-bg div,
    .rbc-today,
    .rbc-row-content button,
    .rbc-time-header,
    .rbc-time-header-content,
    .rbc-time-content,
    .rbc-time-slot,
    .rbc-timeslot-group,
    .rbc-time-view
        border-color: $color-black

    .rbc-off-range-bg
        background-color: $color-pink-dark

    .rbc-today
        background-color: $color-white

// My Offers
.my-offers
    background-color: $color-pink-dark
    padding: 20px
    border-radius: $border-radius
    overflow: auto
    cursor: default
    overflow-x: hidden

    // Scrollbar
    scrollbar-width: auto
    scrollbar-color: #85959d00 #ffffff00

    &::-webkit-scrollbar
        width: 12px

    &::-webkit-scrollbar-track
        background: #ffffff00
        margin: 10px

    &::-webkit-scrollbar-thumb
        background-color: #9eb4c0
        border-radius: 10px

    h1
        font-size: 30px
        font-weight: 700
        text-align: center

    h3
        font-size: 20px
        font-weight: 700
        text-align: center

    .my-offers-request
        background-color: $color-pink-light
        padding: 10px
        border-radius: 10px
        width: 270px
        margin: 10px

    h2
        font-size: 16px
        font-weight: 700

// Friends List Pop-Up
.friends-popup
    background-color: $color-white
    padding: 20px
    border-radius: 10px
    z-index: 1001
    overflow: auto
    height: 500px
    width: 400px
    cursor: default

    // Scrollbar
    scrollbar-width: auto
    scrollbar-color: #85959d00 #ffffff00

    &::-webkit-scrollbar
        width: 12px

    &::-webkit-scrollbar-track
        background: #ffffff00
        margin: 10px

    &::-webkit-scrollbar-thumb
        background-color: #9eb4c0
        border-radius: 10px

    h1
        font-size: 30px
        font-weight: 700
        text-align: center
        padding: 10px

    h2
        width: 80%

    svg
        height: 40px
        width: 40px
        margin: 10px
        cursor: pointer

    .friend-card
        padding: 0 20px

    img
        border-radius: 50%
        height: 40px
        margin-right: 15px

.loading
    font-size: 30px
    font-weight: 700
    color: $color-teal-dark
