// _variables.sass

// Colors
$color-teal-light: #72c0bc
$color-teal-dark: #0c6c74
$color-pink-light: #f7dae4
$color-pink-dark: #f3b9c6
$color-blue-light: #0371e7
$color-blue-dark: #094b92
$color-green: #28a77d
$color-yellow: #ffc107
$color-red: #dc3545
$color-white: #f8f9fa
$color-gray-light: #cfd9dd
$color-black: #31373d

// Border Radius
$border-radius: 22px

// Breakpoints
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
